
* {
    box-sizing: border-box;
}

#contenedor{
    font-family: arial;
    background-color: rgb(160, 231, 231);
    width: auto;
    height: auto;
    
    border: 30px solid rgb(21, 86, 95);
}
body{
    background-image: url("/img/Fondo2.png");
}

td{
    border: 5px solid rgb(32, 121, 148);
}

h1{
    color: white;
}

tr{
    font-size: 30px;
}

p{
    font-size: 30px;
}

button{
    font-size: 30px;
    width: 300px;
    height: 100px;
}